.animate__animated {
  --animate-duration: 2s;
  --animate-delay: 0.2s;
}

.banner {
  background-size: cover;
  background-color: #0d0f1a;
  background-position: center;
  height:90vh;
  padding: 150px 0;
  margin-bottom: 30px;
}

.container-banner{
  margin-left: 50px;
}

.flex-item-grow{
  flex: 1 auto;
}

.banner h1 {
  margin: 0;
  text-shadow: 1px 1px 3px #08070A;
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  opacity: .7;
  text-shadow: 1px 1px 3px #08070A;
}

#tagline {
  font-size: 10px;
}

.card {
  img {
    height: 120px;
    margin-bottom: 8px;
  }
  text-align: center;
  border: 1px solid grey;
  width: 300px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.home-card {
  font-size: 16px;
  height: auto;
  background-color: #2A2631;
  img {
    margin-bottom: 8px;
  }
  text-align: center;
  width: 260px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.cards {
  margin-top: 30px;
}

.details {
  height: 10vh;
  padding-bottom: 0px;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

