<div class="container">
  <h1>Hi <%= current_user.first_name %>, here are your bookings:</h1>
  <ul class="list-group">
    <% @bookings.each do |booking| %>
      <% last_updated = booking.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
      <li class="list-group-item m-2">
        <!-- <div class="card"> -->
        <div class="row">
          <div class="col-sm-5">
            <img src="https://images.unsplash.com/photo-1618843479313-40f8afb4b4d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80 750w" alt="Car Image" style="width:100%;">
          </div>
          <div class="col-sm-7">
            <div class="card-body">
              <h5 class="card-title"><%= "#{booking.location} - #{Car.find(booking.car_id).make} : #{booking.start_date} - #{booking.end_date}" %></h5>
              <div class="card-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                <!-- Font Awsome Row of buttons? Edit, Delete, View bookings -->
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <br>
  <% if @bookings.empty? %>
    <h5>Seems like you haven't made any bookings yet.</h5>
    <br>
    <h5>Would you like to browse all available cars?</h5>
  <% end %>
  <br>
  <%= link_to 'Browse for a car', cars_path, class: 'btn btn-primary' %>
</div>
