.navbar-lewagon {
  justify-content: space-between;
  font-size: 18px;
  padding: 18px;
  width: 100%;
  background-color: $dark-navy
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-item a:hover {
  color: orange;
}

.navbar-lewagon .navbar-brand img {
  height: 80px;
}

.nav-item {
  padding: 8px;
}